/* General */

body {	margin: 0px auto;
	}

a {	color: #333;}

input:focus {outline: none;}

h1 {
	color: #fffff; 
	background: #000000; 
	FONT-FAMILY: Montserrat-Bold; 
	FONT-SIZE: 45px;
	line-height: 47px;
	letter-spacing: -1px; 
	FONT-STYLE: normal; 
	FONT-VARIANT: normal
	}

/* Table */

table {	text-align: left; 
		width: 100%
	}

th {padding: 10px 0px;}

td, text {	padding: 3px 20px 3px 0px; 
			color: #fffff; 
			background: #000000; 
			FONT-FAMILY: Montserrat-Bold; 
			FONT-SIZE: 16px;
			letter-spacing: 1px; 
			FONT-STYLE: normal; 
			FONT-VARIANT: normal
		}

.noMatches {margin-left: 20px; font-size: 11px; font-style: italic; visibility: hidden;}