/* General */

body {	margin: 0px auto;
		background: black;
	}

a {	color: #333;}

input:focus {outline: none;}

h1 {
	color: white; 
	background: black; 
	FONT-FAMILY: arial; 
	FONT-SIZE: 45px;
	line-height: 47px;
	letter-spacing: -1px; 
	}

h3 {
	color: white; 
	background: black; 
	FONT-FAMILY: georgia; 
	FONT-SIZE: 30px;
	line-height: 47px;
	font-style: italic;
	}

/* Table */

table {	text-align: left; 
		width: 100%
	}

th {padding: 10px 0px;
	color: white; 
	background: black; 
	FONT-FAMILY: arial; 
	FONT-SIZE: 30px;
	letter-spacing: 1px; 
	}

td, text {	padding: 3px 20px 3px 0px; 
			color: white; 
			background: black; 
			FONT-FAMILY: arial; 
			FONT-SIZE: 16px;
			letter-spacing: 1px; 
		}

.noMatches {margin-left: 20px; font-size: 11px; font-style: italic; visibility: hidden;}